@font-face {
    font-family: 'Roboto';
    src: url("Roboto-Black.ttf") format("ttf");
  }

body {
    background-color: #E0EBE9;
    font-family: 'Roboto';
}

.formulaire {
    font-family: 'Roboto';
    width: 40%;
    padding: 1%;
    margin: 10vh auto;
    background-color: #0DAC7C;
    border: 3px solid black;
}

.annonce-titre {
  font-size: 1.8em;
  text-align: center;
  height: 4vh;
  padding-top:40px;
  padding-bottom: 40px;
  font-weight: bold;
}

.formulaire input, select {
    text-align: center;
    font-size: 1.2em;
}

.title {
    height: 5vh;
    margin-left: 10%;
    font-size: 1.5em;
}

.annonceTitle {
    width: 40%;
    margin : 0 40% 1vh 10%;
    height: 3vh;
}

.annonceResume {

    margin : 0 10% 1vh 10%;
    font-size: 1.2em;
    font-family: 'Roboto';
}

.dateDebut {
    width: 25%;
    margin: 0 0 1vh 10%;
}

.dateFin {
    width: 25%;
    margin-left: 2%;
    margin-right: 20%;
}

.envoie {
    width: 15%;
    margin-left:10%;
}
.search-announce p{
  color: white;
margin-top: 10px;
}
.published-announce p{
  color: white;
  font-size: 10px;
  margin-top: 10px;

}
.header{
    width: 100%;
    height: 121px;
    background-color: #0DAC7C;
    box-shadow: 0px 2px 6px black;
    display: flex;
  }

.annonce {
  border-radius: 40px;
  width: 100%;
  background-color: #E0EBE9;
  border : 3px solid black;
}
.flex{
  padding: 15px;
  display: flex;
}
.annonce p{
  line-height: 15px;
}
.header-logo-container {
    width: 20%;
    margin-left: 5%;
    margin-top: 10px;
}

.header-title {
    width: 45%;
    font-family: 'Roboto';
    font-size: 2em;
    padding: 25px;
}

.header-logo {
  margin-top: -60px;
  margin-left: -40px;
}

.icon-plus{
    width: 35px;
    height: 35px;
    margin-left: 80px;
    margin-top: 20px;
}
.icon-close{
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-left: 55px;
}

.icon-search{
  width: 35px;
  height: 35px;
  margin-top: 20px;
    margin-left: 97px;
}

.header a {
    width: 18%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.header p {
    padding-top: 5px;
    font-size: 1.5em;
}

  .published-announce:hover{
      /*
    transition: 0.6s;
    opacity: 0.5;
    font-family: 'graphik medium';
    */
  }
  .lol{
    display: none;
  }
